numpy
pandas
scipy
matplotlib
cython
numba
autopep8
pylint
ipykernel
ipywidgets
torch==1.8.1+cu101 
torchvision==0.9.1+cu101
detectron2 -f \ https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/torch1.8/index.html
imageio==2.4.1
lap
cython_bbox
GPUtil